@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family:Outfit ;
}
#root{
  min-height: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
  
}